<body>
  <header class="main-header">
    <div class="container">
      <div class="row ">
        <div class="col-md-6 logo-header">
          <a href="">
            <img src="../../../assets/landing/logo.png" />
          </a>
        </div>
        <div class="col-md-6">

          <div class="header-content">
            <a href="" class="btn btn_purple">SIGN UP</a>

            <div class="menu_btns">
              <span class="sr-onlys"></span>
              <span class="sr-onlys"></span>
              <span class="sr-onlys"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="main-banner">
    <div class="mobile-banner">
      <div class="container">
        <div class="row banner-contents">
          <div class="col-md-6">
            <img src="../../../assets/landing/slide1.jpg" alt="">
          </div>
          <div class="col-md-6">
            <h2>The Best B2B Commerce Suite for the  <span>CANNABIS INDUSTRY</span></h2>
            <a (click)="goToDashboard()" class="btn btn_blue desktop-btns">GET STARTED NOW</a>
            <a (click)="goToDashboard()" class="btn btn_blue mobile-btns">SETUP YOUR BUSINESS NOW</a>
          </div>

        </div>
      </div>
    </div>
    <div id="demo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row banner-contents">
              <div class="col-md-6">
                <h2>The Best B2B Commerce Suite for the  <span>CANNABIS INDUSTRY</span></h2>
                <a (click)="goToDashboard()" class="btn btn_blue">GET STARTED NOW</a>
              </div>
              <div class="col-md-6">
                <img src="../../../assets/landing/slide1.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row banner-contents">
              <div class="col-md-6">
                <h2>The Best B2B Commerce Suite for the  <span>CANNABIS INDUSTRY</span></h2>
                <a (click)="goToDashboard()" class="btn btn_blue">GET STARTED NOW</a>
              </div>
              <div class="col-md-6">
                <img src="../../../assets/landing/slide1.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container">
            <div class="row banner-contents">
              <div class="col-md-6">
                <h2>The Best B2B Commerce Suite for the  <span>CANNABIS INDUSTRY</span></h2>
                <a (click)="goToDashboard()" class="btn btn_blue">GET STARTED NOW</a>
              </div>
              <div class="col-md-6">
                <img src="../../../assets/landing/slide1.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hassless">
    <div class=container>
      <div class="row mobile-content">
        <div class="col-md-12">
          <div class="hassless-banner text-center">
            <h3>
              KUSHDESK FOR MANUFACTURING
            </h3>
            <p>
              You Will Never Have a Problem Selling or Sourcing Materials Again.
            </p>
          </div>
        </div>
      </div>
      <div class="row column-class">
        <div class="col-md-6">
          <div class="hassless-banner">
            <h3>
              NO MORE HASSLESS
            </h3>
            <p class="full-width-mobile">
              Stop calling different people trying to find cannabis products and wholesale items. Kushdesk
              provides every Licensed Cannabis Manufacturer & Distributor a B2B Storefront so that you
              never run out of what you need.<br />  All you have to do is “claim your account”.
            </p>
            <a href="" class="btn btn_purple desktop-btns">SIGN UP FOR EARLY ACCESS</a>
            <a href="" class="btn btn_blue mobile-btns padding-bottom">SIGN UP NOW</a>
          </div>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/landing/lounding.png" />
        </div>
      </div>
    </div>
  </section>
  <section class="laws">
    <div class=container>
      <div class="row">
        <div class="col-md-6">
          <div class="hassless-banner">
            <h3>
              WE KNOW THE LAWS,<br /> SO YOUR CAN  FOCUS ON WHAT <br />YOU DO BEST…
            </h3>
            <p class="full-width-mobile">
              Kushdesk keeps you up to code by evolving with the industry to ensure you are always within
              your rights to buy, sell and distribute no matter what.
            </p>

          </div>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/landing/laws.jpg" />
        </div>
      </div>
    </div>
  </section>
  <section class="hassless days">
    <div class=container>
      <div class="row text-center ">
        <div class="col-md-6">
          <div class="day2day">
            <h3>
              DAY 2 DAY FEATURES
            </h3>
            <h6>Buy, Sell and Track Your Products and Sales</h6>
            <p>
              Our easy to use inventory management and sales hub provides you everything your company
              needs to buy sell and distribute on the go right from their phones.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="day2day">
            <h3>
              SELL UNLIMITED PRODUCTS
            </h3>
            <p>
              We believe you deserve to get your products to the businesses that need them most. Hassle
              free and without breaking your bank. Yes that means no upload fees!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="state-line">
    <div class="container">
      <div class="row column-class">
        <div class="col-md-6">
          <img src="../../../assets/landing/transport.jpg" />
        </div>
        <div class="col-md-6">
          <div class="hassless-banner">
            <h3>
              TRANSPORT ACCROSS STATE LINES
            </h3>
            <p class="full-width-mobile">
              Kushdesk makes it easy to transport accross state lines by keeping you compliant with
              government regulations and restrictions to cannabis commerce<br />  (Currently restricted in
              most states)
            </p>
            <a href="" class="btn btn_purple desktop-btns">SIGN UP FOR EARLY ACCESS</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="newsletter">
    <div class="container">
      <div class="row newsletter-row">
        <div class="col-md-6">
          <div class="hassless-banner low-top-padding">
            <h3>
              JOIN KUSH DESK NEWS FREE!
            </h3>
            <p>
              Stay up to date on the latest Financial and Business News on the largest Cannabis News
              Network in the world.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <form class="newsform">
            <div class="form-group">
              <input type="email" class="form-control mail-field" name="" placeholder="Enter Email Here">
            </div>
            <button class="btn btn_purple bt_blue">JOIN KUSH DESK NEWS NOW</button>
          </form>
        </div>
      </div>
      <div class="row newsletter-text">
        <div class="col-md-12 text-center">
          <p>By Submitting your email above you agree to receive exciting emails from KushDesk.</p>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 footer-logo">
          <a href=""><img src="../../../assets/landing/logo.png" /></a>
        </div>
        <div class="col-md-6 social-row">
          <span class="low-width">FOLLOW US ON SOCIAL</span>
          <ul class="social-lists">

            <li>
              <a href="" target="_blank"><img class="social" src="../../../assets/landing/facebook.png" /></a>
            </li>
            <li>
              <a href="" target="_blank"><img class="social" src="../../../assets/landing/t.png" /></a>
            </li>
            <li>
              <a href="" target="_blank"><img class="social" src="../../../assets/landing/ig.png" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


</body>
